h1 {
  text-align: left;
}

.App {
background-color: rgb(245,248,250);
}
/* Style for todo form */
.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

.btn {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: rgb(0,112,243);
  color: white;
}
/* Style for todo list */
.ul {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 15px 60px;
}
 /* style for todo item */

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 13px;
}

.rm {
  background: red;
  border-radius: 50%;
  color: #fff;
}